:host {
  --column-size: 20;
  display: inline-grid;
  grid-template-columns: repeat(var(--column-size), 1fr);
}

app-card {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;

  //rotation

  //-webkit-perspective: 1000px;
  //perspective: 1000px;
  //-webkit-transform-style: preserve-3d;
  //transform-style: preserve-3d;

}
